@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f7fafc; /* Equivalent to bg-gray-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* Equivalent to bg-gray-300 */
  border-radius: 9999px; /* Equivalent to rounded-full */
}

.react-syntax-highlighter {
  border-radius: 0.5rem !important; /* Equivalent to rounded-lg */
}
